/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .cn_msg {
    position: absolute;
    top: 0;
    z-index: 99999;
    background: #b71717;
    width: 100%;
    padding: 20px 65px;
    color: #fff;
    text-align: center;
}

i.cn_close {
    /*display: none;*/
    cursor: pointer;
    position: absolute;
    right: 30px;
    font-weight: bold;
    font-size: 22px;
    top: 25%;
}

i.cn_close {
    color: #fff;
}


/** footer bar css*/

.shop-status-bar.cnopenclose-bar-footer {
	bottom: 0;
}
.shop-status-bar {
	background: #e52729;
	color: #fff;
	text-align: center;
	position: fixed;
	width: 100%;
	display: block;
	left: 0;
	z-index: 999;
	font-size: 14px;
	font-family: Open Sans, sans-serif;
	padding: 13px 0;
}

.shop-status-bar .shop-status-bar-inline {
	display: inline-block;
	vertical-align: middle;
}
.shop-status-bar .shop-status-bar-inline.close-bar {
	background: rgba(0, 0, 0, .4);
	margin-left: 20px;
	padding: 7px 13px;
	border-radius: 3px;
	cursor: pointer;
}

.shop-status-bar .shop-status-bar-inline {
	display: inline-block;
	vertical-align: middle;
}

.shop-status-bar .cnopenclose-countdown-timer-1 {
	display: inline-block;
	margin: 0 15px 0 3px;
}

.cnopenclose-countdown-timer-1 > span {
	display: inline-block;
	margin-right: 5px;
	padding-right: 8px;
	border-right: 1px solid #ccc;
	font-size: 16px;
	line-height: 20px;
}

/** footer bar css ends*/